<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search__input" class="form-label">Google</label>
            <input type="text" name="q" class="form-control" id="search__input" placeholder="Search Google or type URL ">
        </div>
        <div class="mb-3">
            <label for="search__input" class="form-label">Google</label>
            <select type="text" name="q" class="form-control" id="search__input" >
                <option value="">CHỌN GIỚI TÍNH</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        
        <button value="submit" type="submit" id="btn btn__search">Submit</button>
    </form>
</div>



